:root {
  --color-white: #fff;
  --text-color: #4f4f4f;
  --text-color-black: #333;
  --text-color-gray: #828282;
  --text-color-gray-light: #f2f2f2;

  --color-blue: #2d9cdb;
  --color-blue-dark: #007fc9;
  --color-warning: #eb5757;

  --box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  --bg-main: #fff;
  --bg-main-dark: #333;

  font-family: $font-family;
  font-size: $fz-default;
  line-height: 24px;
  font-weight: 400;
  --text-color: #000;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --bg-main: #4f4f4f;
    --text-color-black: #f2f2f2;
    --text-color-gray: #f2f2f2;
  }
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  // height: auto;
  height: 100%;
  min-height: 100%;
  // color: $text-color;
}

#app {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

button {
  border: 0;
  background-color: transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
