.our-offer {
  h2 {
    padding-left: 2rem;
  }
  p {
    font-size: size(16px);
    line-height: size(24px);
  }
  h3 {
    font-weight: 700;
    font-size: size(24px);
    line-height: size(36px);
  }
}
.our-offer__title {
  margin-bottom: 92px;
  @media (min-width: $width-tablet) {
    margin-bottom: 88px;
  }
}
.our-offer__list {
  display: grid;
  width: auto;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, 341px);
  justify-content: center;
  gap: 1rem;
}
.offer-item {
  background: #ffffff;
  padding: 1.5rem 1rem;
  border-radius: 24px;
  display: grid;
  gap: 1rem;
  align-items: start;
  justify-content: start;
  justify-items: start;
  text-align: left;
  --icon-color: #2d9cdb;

  &:hover {
    box-shadow: $box-shadow;

    .offer-item__button {
      background-color: #2d9cdb;
      color: #fff;
    }
  }
  &--frontend {
    --icon-color: #27ae60;
  }
  &--backend {
    --icon-color: #eb5757;
  }
}
.offer-item__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 67px;
  height: 67px;
  border-radius: 16px;
  color: #fff;
  background-color: var(--icon-color);
}
.offer-item__button {
  background: #e0e0e0;
  border-radius: 12px;
  font-size: size(16px);
  line-height: size(24px);
  display: inline-block;
  width: auto;
  vertical-align: middle;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  color: #828282;
  transition: all 0.3s ease 0s;
  &:hover {
    box-shadow: 2px 2px 8px 0px #33333375;
  }
}
